
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local

/public/bundles/
/public/uploads
/public/uploads/
# /public/assets/
/public/google_credential
/public/media/cache/
/public/.well-known/

/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###

###> symfony/webpack-encore-bundle ###
/node_modules/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###

###> liip/imagine-bundle ###
###< liip/imagine-bundle ###

###> netbeans project ###
/nbproject/
###< netbeans project ###
###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

/sessions/*
/.env
*.zip

public/.DS_Store
