
<IfModule mod_headers.c>
    Header always set Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
    Header always set Content-Security-Policy "script-src 'self' 'unsafe-inline' https://cdn.jsdelivr.net https://graph.microsoft.com https://source.zoom.us https://maps.google.com https://zoom.us https://tracardi-m.keosapp.com https://stg-bdp-api.keos.co https://checkout.stripe.com https://ajax.googleapis.com; style-src 'self' 'unsafe-inline' https://fonts.googleapis.com https://cdn.jsdelivr.net; object-src 'none'; form-action 'self' https://events-release.keosapp.com https://eventos.keoscx.com https://events.keosapp.com; font-src 'self' https://fonts.gstatic.com chrome-extension: data:; frame-ancestors 'self'; img-src 'self'"
    Header always set X-Frame-Options "SAMEORIGIN"
    Header always set X-XSS-Protection "1; mode=block"
    Header always set X-Content-Type-Options "nosniff"

</IfModule>




<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{HTTPS} off
    RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [QSA,L]
</IfModule>

# MIME types
<IfModule mod_mime.c>
    AddType text/css .css
    AddType application/javascript .js
</IfModule>

# Gzip Compression
<IfModule mod_deflate.c>
    AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css application/javascript application/x-javascript application/json
</IfModule>

