{% extends "Global/luminous/layout.html.twig" %}
{% set pagetitle = 'Reset your password'|trans({}, 'messages') %}
{% block title %}{{pagetitle}}{% endblock %}
{% block content %}
    <section class="forget-password-wrapper">
        <div class="container">
            <div class="forget-password-section">
                <div class="forget-pass-heading">
                    <h2>¿Olvidaste tu contraseña?</h2>
                </div>
                <div class="row forget-password-main align-items-center gy-4 justify-content-center">
                    <div class="col-lg-5 col-12">
                        <div class="necesitas-log-in-image">
                            <img src="{{ asset('assets/ll_assets/assets/img/forget-password-image.png') }}" alt="">
                        </div>
                    </div>

                    <div class="col-lg-2"></div>

                    <div class="col-lg-5 col-md-10 col-12">
                        <div class="panel recoverpassword-panel-default">
                            <div class="recoverpassword-heading">
                                <span>Ingresa el correo electrónico asociado a tu cuenta, te enviaremos instrucciones para recuperar la contraseña.</span>
                            </div>
                            <div class="panel-body">
                                <form class="form-horizontal recoverpassword-fromd" action="{{ path('fos_user_resetting_send_email') }}" method="POST">
                                    <div class="form-group recoverpassword-input-feild">
                                        <div class="recoverpassword-from col-md-10 offset-1">
                                        <label class="control-label">Correo electrónico</label>
                                            <input name="username" class="form-control" placeholder="Nombre de usuario o dirección de correo electrónico" type="text" required>
                                        </div>
                                    </div>

                                        
                                    <div class="form-group recover-button">
                                        <div class=" offset-1 recoverpassword-button"> 
                                            <button type="submit" class="col-md-10 col-10 btn btn-outline-info">Recuperar contraseña</button>
                                        </div>
                                        
                                        <div>
                                            <p class="text-center">¿No tienes una cuenta? <a href="{{path('ll_signup_attendee')}}" class="recoverpassword-link">Registrate aquí</a></p>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}